# mysql-connector-java 6.0.x 及以上版本配置
spring:
   datasource:
      driverClassName: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/boot?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
      username: root
      password: 123@abc
   mvc:
     view:
       prefix: /WEB-INF/jsp/
       suffix: .jsp

server:
    port: 8080
    servlet:
       # 应用的访问路径
       context-path: /
    tomcat:
       # tomcat的URI编码
       uri-encoding: UTF-8
       # tomcat最大线程数，默认为200
       max-threads: 800
       # Tomcat启动初始化的线程数，默认值25
       min-spare-threads: 30
mybatis:
   typeAliasesPackage: org.example.entity
   mapperLocations: classpath:mapper/*.xml
